html
{
	background-color: rgb(255, 255, 255);
	font-size: 20px;
	font-family:Times;
	color: rgb(136,136,136);


}

body
{
	white-space:nowrap;
}

.intro
{
	font-size: 50px;
	color: rgb(20,20,20);
	font-family:Times;

}
.bandeau
{
	background-color: rgb(244,244,244);
	border: 0px;
}

.logo:hover
{

   
    transition: 350ms;
    transform: scale(1.2);
    
}

.autre
{
	border-radius: 25px;
	transform: scale(1.5);
}
.autre:hover
{
    
   box-shadow: 10px 10px 5px #888888;
    transition: 350ms;
    transform: scale(1.8);
    
}

.liens
{
	
	font-size: 25px;
	color: rgb(20,20,20);
	font-family:Times;
}




hr{
		background-color: rgb(136,136,136);
	border: 0px;
}



